<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet"
      type="text/css"
      th:href="@{/static/css/header.css}">
<header>
<h1>READ BOOK</h1>
    <h2>똑 소리나는 독서록 2021 v1</h2>
</header>
<body>
    <section>
        <div class="head">
            <div><input placeholder="2132142132132"/></div>
            <div><input placeholder="DO it 자바"/></div>
        </div>
        <div class="body">
            <div><input placeholder="2021-10-27"/></div>
            <div><input placeholder="10:12:22"/></div>
            <div><input placeholder="12:32:12"/></div>
        </div>
        <div><input placeholder="생각중독은 깊은 생각에 빠져 주위를 돌아보지 못하는 것이 시작이다"/></div>
        <div><input placeholder="내용을 입력해주세요"/></div>
        <div><button>추가</button></div>
    </section>
</body>
</html>